.customers {
    .overview {
        padding: 1em 8px 0.5em;

        h4 {
            margin: 0;
            padding: 0;
            font-weight: 300;
        }

        .buttons-col {
            text-align: right;
        }
    }
}