<div class="post">
  <ion-row>
    <img class="user-img" src="{{post.userAvatarUrl(72)}}">
    <ion-col>
      <ion-row>
        <ion-col class="name">
          {{post.userName}}
        </ion-col>
        <ion-col class="date">
          {{post.formattedDate()}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content">
          {{post.content}}
        </ion-col>
      </ion-row>
      <ion-row>
        <div
          class="favorite-toggle" *ngIf="user"
          [ngSwitch]="post.isFavoritedByUser(user.uid)"
          (click)="toggleFavorite()">
          <ion-icon class="star-active" *ngSwitchWhen="true" name="star"></ion-icon>
          <ion-icon class="star-inactive" *ngSwitchWhen="false" name="star-outline"></ion-icon>
        </div>
        <span class="favorites">
          {{post.favorites.length}}
          {{post.favorites.length === 1 ? 'favorite' : 'favorites'}}
        </span>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
