<div class="post">
  <ion-row>
    <img class="user-img" src="{{post.userAvatarUrl(72)}}">
    <ion-col>
      <ion-row>
        <ion-col class="name">
          {{post.userName}}
        </ion-col>
        <ion-col class="date">
          {{post.formattedDate()}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content">
          {{post.content}}
        </ion-col>
      </ion-row>
      <ion-row>
        <div
          class="post-favorite-toggle" *ngIf="user"
          [ngSwitch]="post.isFavoritedByUser(user.uid)"
          (click)="toggleFavorite()">
          <ion-icon *ngSwitchWhen="true" name="heart"></ion-icon>
          <ion-icon *ngSwitchWhen="false" name="heart-outline"></ion-icon>
        </div>
        {{post.favorites.length}}
      </ion-row>
    </ion-col>
  </ion-row>
</div>
