<ion-navbar *navbar class="motion-header">
    <motion-logo></motion-logo>
    <ion-title>Select a Customer</ion-title>
    <ion-buttons end>
        <button white>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <ion-list>
        <location-selector></location-selector>
        <ion-item-group *ngFor='#key of customersKeys'>
            <ion-item-divider>{{ key }}</ion-item-divider>
            <customer-item
                *ngFor="#customer of customers[key]"
                (click)="onCustomerSelect(customer)"
                [customer]="customer">
            </customer-item>
        </ion-item-group>
    </ion-list>
</ion-content>
<ion-toolbar position="bottom" style="padding: 0;">
    <button light full block (click)="close()">Cancel</button>
</ion-toolbar>
