<ion-navbar primary *navbar>
  <ion-title>Poster</ion-title>
</ion-navbar>

<ion-content class="feed-content-view">
  <div class="header-bar" *ngIf="user">
    <ion-segment [(ngModel)]="postFilter" (change)="refreshPostSource()">
    <ion-segment-button value="allPosts">
      All Posts
    </ion-segment-button>
    <ion-segment-button value="favoritedPosts">
      Favorited
    </ion-segment-button>
  </ion-segment>
  </div>
  <post-item
    *ngFor="#post of filteredPosts"
    [post]="post"
    [user]="user">
  </post-item>
</ion-content>
